###**Problem Definition**

Perform Apriori Algorithm on a simple dataset and mine association rules that may exist betweeen itemsets with metric set to confidence & lift.



###**Tasks to be performed**


>*   Importing Required Libraries
>*   Creating a simple dataset
>*   Transaction Encoding
>*   Understanding Apriori Algorithm
>*   Applying Apriori Algorithm
>*   Mining Association Rules

**Importing Required Libraries**

In [ ]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import warnings
warnings.filterwarnings("ignore")

**Creating a simple Dataset**

In [ ]:
dataset = [['Milk', 'Snacks', 'Bread', 'Jam', 'Eggs', 'Banana', 'Beer', 'Diaper'],
           ['Milk','Bread','Beer', 'Diaper', 'Snacks','Banana'],
           ['Milk','Bread','Jam','Eggs','Banana'],
           ['Milk', 'Bread','Jam' 'Yogurt', 'Eggs','Banana'],
           ['Bread', 'Eggs', 'Diaper', 'Beer', 'Snacks'],
           ['Beer','Diaper','Snacks' 'Eggs','Jam']]

**Transaction Encoding**

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

   Banana   Beer  Bread  Diaper  ...  JamYogurt   Milk  Snacks  SnacksEggs
0    True   True   True    True  ...      False   True    True       False
1    True   True   True    True  ...      False   True    True       False
2    True  False   True   False  ...      False   True   False       False
3    True  False   True   False  ...       True   True   False       False
4   False   True   True    True  ...      False  False    True       False

[5 rows x 10 columns]

In [ ]:
df.shape

(6, 10)

**Understanding Apriori Algorithm**

Apriori algorithm is a classical algorithm used in data mining. Used for finding frequent itemsets and mining association rules that may exist between different itemsets. It operates very well on a dataset containing large number of transactions. It is not only easy to understand but also to implement. The frequent itemsets generated by the Apriori Algorithm can be used to determine the association rules that may exist between different items.


There are three major components of Apriori Algorithm.They are:

>* **Support :** It can be defined as the popularity of a particular item.It can be calculated as the number of transactions invloving that particular item divided by total number of transactions.

>* **Confidence :**It is the likelihood of an item Y being purchased when X was purchased.

>* **Lift :**It is the likelihood of an item Y being purchased when item X is purchased while considering the popularity of Y.

**3.Applying Apriori Algorithm**

In [ ]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

     support               itemsets
0   0.666667               (Banana)
1   0.666667                 (Beer)
2   0.833333                (Bread)
3   0.666667               (Diaper)
4   0.666667                 (Eggs)
5   0.666667                 (Milk)
6   0.666667        (Banana, Bread)
7   0.666667         (Banana, Milk)
8   0.666667         (Beer, Diaper)
9   0.666667          (Bread, Eggs)
10  0.666667          (Bread, Milk)
11  0.666667  (Banana, Bread, Milk)

**From above, you can see that the result is a dataframe with support for each itemsets.**

**4. Mining Association Rules**

In [ ]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)

        antecedents      consequents  ...  leverage  conviction
0          (Banana)          (Bread)  ...  0.111111         inf
1          (Banana)           (Milk)  ...  0.222222         inf
2            (Milk)         (Banana)  ...  0.222222         inf
3            (Beer)         (Diaper)  ...  0.222222         inf
4          (Diaper)           (Beer)  ...  0.222222         inf
5            (Eggs)          (Bread)  ...  0.111111         inf
6            (Milk)          (Bread)  ...  0.111111         inf
7   (Banana, Bread)           (Milk)  ...  0.222222         inf
8    (Banana, Milk)          (Bread)  ...  0.111111         inf
9     (Bread, Milk)         (Banana)  ...  0.222222         inf
10         (Banana)    (Bread, Milk)  ...  0.222222         inf
11           (Milk)  (Banana, Bread)  ...  0.222222         inf

[12 rows x 9 columns]

**From above, you can see the result of association analysis showing which item is frequently purchased with other items.**

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

        antecedents      consequents  ...  leverage  conviction
0          (Banana)          (Bread)  ...  0.111111         inf
1           (Bread)         (Banana)  ...  0.111111    1.666667
2          (Banana)           (Milk)  ...  0.222222         inf
3            (Milk)         (Banana)  ...  0.222222         inf
4            (Beer)         (Diaper)  ...  0.222222         inf
5          (Diaper)           (Beer)  ...  0.222222         inf
6           (Bread)           (Eggs)  ...  0.111111    1.666667
7            (Eggs)          (Bread)  ...  0.111111         inf
8           (Bread)           (Milk)  ...  0.111111    1.666667
9            (Milk)          (Bread)  ...  0.111111         inf
10  (Banana, Bread)           (Milk)  ...  0.222222         inf
11   (Banana, Milk)          (Bread)  ...  0.111111         inf
12    (Bread, Milk)         (Banana)  ...  0.222222         inf
13         (Banana)    (Bread, Milk)  ...  0.222222         inf
14          (Bread)   (Banana, Milk)  ...  0.111111    1.666667
15           (Milk)  (Banana, Bread)  ...  0.222222         inf

[16 rows x 9 columns]

In [ ]:
rules[ (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2)]

        antecedents      consequents  ...  leverage  conviction
2          (Banana)           (Milk)  ...  0.222222         inf
3            (Milk)         (Banana)  ...  0.222222         inf
4            (Beer)         (Diaper)  ...  0.222222         inf
5          (Diaper)           (Beer)  ...  0.222222         inf
10  (Banana, Bread)           (Milk)  ...  0.222222         inf
12    (Bread, Milk)         (Banana)  ...  0.222222         inf
13         (Banana)    (Bread, Milk)  ...  0.222222         inf
15           (Milk)  (Banana, Bread)  ...  0.222222         inf

[8 rows x 9 columns]

In [ ]:
rules[rules['antecedents'] == {'Milk', 'Bread'}]

      antecedents consequents  antecedent support  ...  lift  leverage  conviction
12  (Bread, Milk)    (Banana)            0.666667  ...   1.5  0.222222         inf

[1 rows x 9 columns]

**From above, we can say that when a customer buys milk and bread together, he/she is likely to banana as well. So, to increase the sales we can put these items together.**